body {
    background-color: aqua;
}

#taskList li {
    margin-bottom: 5px;
    cursor: pointer;
    list-style: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#taskList li.completed {
    text-decoration: line-through;
    color: gray;
}

#taskList button {
    margin-left: 10px;
    cursor: pointer;
}