body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
}

#root {
    padding: 30px;
}

input {
    padding: 8px;
    background: #222;
    color: white;
    border: 1px solid #555;
}

button {
    padding: 8px 12px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #1e1e1e;
    border: 1px solid #333;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
}